.meal{
    width: 300px;
    height: 510px;
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 15px;
    margin: auto auto;
}
.meal img{
  width: 300px;
}
.meal-name {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.0015em;
  color: #0e161a;
  margin-top: 7px;
}
.meal-info {
  margin: 0 14px;
}
.meal-info p {
  margin-top: 5px;
  margin-bottom: 0;
}

.btn-cart {
  margin-right: 5px;
  margin-top: 50px;
}